@import url("./fonts/bitmap/stylesheet.css");
@import url("./styles.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@layer base {
    @font-face {
        font-family: ATC;
        src: url("fonts/bitmap/vnaaats-webfont.woff2") format('woff2'),
        url("fonts/bitmap/vnaaats-webfont.woff") format('woff');
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
