/* Custom styles needed outside of tailwind */

/* Scroll bar customisation */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #142942;
    border-right: 2px solid rgba(66,125,197, 1);
    border-bottom: 2px solid rgba(66,125,197, 1);
    border-top: 2px solid rgba(12,24,39, 1);
    border-left: 2px solid rgba(12,24,39, 1);
    
    
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-clip: content-box;
    background-color: #1D395D;
    border-top: 2px solid rgba(66,125,197, 1);
    border-left: 2px solid rgba(66,125,197, 1);
    border-right: 2px solid rgba(12,24,39, 1);
    border-bottom: 2px solid rgba(12,24,39, 1);
}

::-webkit-scrollbar-button
{
    background-color: #1D395D;
    border-style: solid;
    height: 16px;
    width: 16px;
}

/* Disable double button */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement 
{
    display: none;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement
{
  border-width: 0 7px 14px 7px;
  border-color: rgba(12,24,39, 1) rgba(12,24,39, 1) #1D395D rgba(12,24,39, 1);
}
::-webkit-scrollbar-button:vertical:decrement:active
{
    border-color: rgba(12,24,39, 1) rgba(12,24,39, 1) #142942 rgba(12,24,39, 1);
}

/* Up */
::-webkit-scrollbar-button:vertical:increment
{
  border-width: 14px 7px 0 7px;
  border-color: #1D395D rgba(12,24,39, 1) rgba(12,24,39, 1) rgba(12,24,39, 1);
}
::-webkit-scrollbar-button:vertical:increment:active
{
    border-color:#142942 rgba(12,24,39, 1) rgba(12,24,39, 1) rgba(12,24,39, 1);
}
